*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --main-color:#021e38;
    --second-color:#ff9900;
    

    scroll-behavior: smooth;
}
.container{
    width: 100%;
    margin: auto;
}


/* Header style start */
header{
    padding-bottom: 5px;
    max-height:50px ;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: -1px 8px 20px 0px rgba(151, 150, 150, 0.096);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#check{
    display: none;
}
#check:checked + nav{
    left: 0;
}
header .logo{
    padding: 10px;
    letter-spacing: -2px;
    font-weight: 500;
    font-size: 20px;
    user-select: none;
    color: var(--second-color);
}
label .image-container{
    width: 50px;
    height: 50px;
    padding: 8PX;
    cursor: pointer;
}

label .image-container img{
    width: 100%;
    height: 100%;
}

header nav{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
    left:-100%
}

header nav ul{
    height: 100%;
    list-style: none;
    
}
header nav ul li{
    text-align: center;
    margin-bottom: 30px;
    
    padding: 10px;
    cursor: pointer;
    
}
header nav ul li a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

header nav ul li:hover{
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.5);
}
header nav ul li:hover a{
    color: var(--second-color);
    
}

/* Header style end */

/* home (main) style start */
main{
    padding: 150px 0;
    min-height: 100vh;
    background-image: url('images/background2.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
}

main .container{
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    height: 100%;
}
main .left{
    color: var(--main-color);
    padding: 0 10px;
}
main .left h1{
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 70px;
}
main .left h1 span{
    color: var(--second-color);
}
main .left h2 span{
    color: #b30000;
}

main .left .div-button{
    background-color: var(--main-color);
    width: fit-content;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s;
    box-shadow: -1px 8px 20px 0px var(--main-color);
}
main .left .div-button:hover a{
    color: var(--second-color);
}
main .left .div-button a{
    text-decoration: none;
    color: white;
    transition: .5s;
    
}
main .left .icons{
    display: flex;
    margin-top: 60px;
}
main .left .icons > div{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--second-color);
    margin-right: 30px;
    padding: 3px;
    box-shadow: -1px 8px 20px 0px var(--main-color);
    transition: .5s;
    text-align: center;
}
main .left .icons > div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .left .icons > div:hover{
    transform: scale(1.5);
}
main .left .icons > div img{
    width: 100%;
    height: 100%;
}
main .left .icons > div a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
main .right{
    
    display: flex;
    justify-content: center;
    
    align-items: flex-end;
    overflow: hidden;
    order: -1;
}
main .right img{
    max-width: 85%;
    max-height: 85%;
    object-fit: cover;
    border-radius: 50%;
}
/* home (main) style end */


/* title (for each section) style start */
.title{
    text-align: center;
    margin: 20px 0;
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.title div{
    width: 30%;
    
    height: 2px;
    background-color: var(--second-color);
    border-radius: 10px;
}

.title div:first-of-type{
    margin-left: 5%;
}
.title div:last-of-type{
    margin-right: 5%;
}

.title h1{
    
    width: 30%;
    color: var(--main-color);
    font-size: 18px;
}

/* title (for each section) style end */

/* about me section style start */
#about-me .detail >div{
    width: 60%;
    margin:60px  auto;
    padding: 15px;
    color: white;
    background-color: var(--main-color);
    border-radius: 0 10px;
    border:3px solid var(--second-color);
    font-weight: 600;
    position: relative;
    font-size: 14px;
    box-shadow: -1px 8px 20px 0px rgb(151, 150, 150);
}

#about-me .detail div.name::before{
    content: "Name";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
#about-me .detail div.date::before{
    content: "Birth Date";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
#about-me .detail div.gender::before{
    content: "Gender";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
#about-me .detail div.phone::before{
    content: "Phone";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
#about-me .detail div.email::before{
    content: "Email";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
#about-me .detail div.education::before{
    content: "Education";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
#about-me .detail div.job::before{
    content: "Job";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
/* about me section style end */

/* hero (for each section) style start */
.content .hero{
    width: 40%;
    margin: 0px auto 60px  !important;
    
}
.content .hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hero (for each section) style start */


/* skilles section style start */

#skills .title span{
    color: var(--second-color);
}

#skills .hero img{
    transform: scale(1.4);
}

#skills .skills-content{
    text-align: center;
    
    
}
#skills .skills-content .outer{
    width: 60%;
    margin:60px  auto;
    padding: 15px;
    color: white;
    background-color: var(--main-color);
    border-radius: 0 10px;
    border:3px solid var(--second-color);
    
    font-weight: 600;
    position: relative;
    font-size: 14px;
    box-shadow: -1px 8px 20px 0px rgb(151, 150, 150);
    
}
#skills .skills-content .outer .num{
    position: absolute;
    top: 13px;
    right: 2%;
    font-size: 12px;
}

#skills .skills-content .outer .load{
    background-color: white;
    width: 90%;
    height: 15px;
    border-radius: 10px;
}
#skills .skills-content .outer .inner{
    background-color: var(--second-color);
    
    height: 100%;
    border-radius: 10px;
}
.html .inner{
    width: 95%;
}
.css .inner{
    width: 90%;
}
.sass .inner{
    width: 85%;
}
.js .inner{
    width: 90%;
}
.tailwind .inner{
    width: 85%;
}
.react .inner{
    width: 90%;
}

.html::before{
    content: "HTML 5";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
.css::before{
    content: "CSS 3";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
.sass::before{
    content: "SASS";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
.js::before{
    content: "JAVASCRIPT";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
.tailwind::before{
    content: "TAILWIND CSS";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
.react::before{
    content: "REACT JS";
    position: absolute;
    left: -3px;
    top: -30px;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 10px 0;
    font-weight: normal;
    
}
/* skilles section style end */

/* projects section style start */
#projects .title span{
    color: var(--second-color);
}

div.projects-content{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(325px,1fr));
    justify-content: center;
    align-items: center;
    gap: 30px;

}


div.projects-content .image{
    padding: 10px;
    height: 250px;
    width: 100%;
}
 
div.projects-content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.projects-content div.project{
  /* min-width: 325px; */
  /* width: calc(85%/3); */
  min-width: fit-content;
  max-width: 100%;
  border: 2px solid;
  border-color: transparent transparent var(--second-color) var(--second-color);
  text-align: center;
  box-shadow:3px 4px 10px 3px #eee;
}

div.projects-content div.project h3{
  padding: 15px;
  padding-top: 0;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  font-weight: 500;
}

div.projects-content div.project p{
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
  width: fit-content;
  line-height: 1.8;
  color: #777;
}

div.projects-content div.project .visit{
  padding: 10px;
  max-width: 100%;
  margin: 15px auto;
  width: fit-content;
  color: white;
  background-color: var(--second-color);
  border-radius: 0 10px;
}
div.projects-content div.project a{
  font-size: 18px;
  text-decoration: none;
  display: block;
  width: 50px;
  margin: 0 auto;
  
}

/* projects section style end */

/* contact section style start */

#contact .title span{
    color: var(--second-color);
}
    #contact .content{
        width: 80%;
        margin: auto;
        line-height: 30px;
        color: white;
        background-color: var(--main-color);
        padding: 30px;
        border: 3px  dashed var(--second-color);
        border-radius: 0 10px;
        font-size: 20px;
        box-shadow: -1px 8px 20px 0px rgb(151, 150, 150);
        text-align:justify;
        position: relative;
}

#contact .js-project{
    margin: 30px auto;
    width: fit-content;
}
#contact a{
    text-decoration: none;
    color: var(--second-color);
}
#contact h2{
    margin: 0 0 20px 0 ;
    text-align: center;
    font-size: 23px;
}

div.wraper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
div.wraper div input, div.wraper div textarea{
    outline: none;
    border: 3px solid var(--second-color);
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 15px 0;
}



div.wraper div input{
    height: 40px;
    width: 300px;
}


div.message-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}

div.message-input button{
    background-color: var(--second-color);
    /* height: 30px; */
    height: 20px;
    width: 250px;
    padding: 15px;
    color: white;
    /* font-weight: 500; */
    font-size: 18px;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0;
    border: none;
}
/* contact section style end */

/* footer style start */
footer{
    padding: 15px 0;
    border-top: 1px solid var(--second-color);
    margin-top: 100px;
    background-color: var(--main-color);
    color: white;
}
footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}
footer .end-message{
    width: 30%;
}
footer .logo{
    padding: 10px;
    letter-spacing: -2px;
    font-weight: 500;
    font-size: 20px;
    user-select: none;
    color: var(--second-color);
}
footer span{
    color: var(--second-color);
}
footer .icons{
    display: flex;
    width: 30%;
    justify-content: end;
}
footer .icons > div{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: var(--second-color);
    
    margin-right: 30px;
    padding: 3px;
    box-shadow: 0px 4px 20px 0px var(--second-color);
    transition: .5s;
    text-align: center;
}
footer .icons > div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .icons > div:hover{
    transform: scale(1.5);
}
footer .icons > div img{
    width: 100%;
    height: 100%;
}
footer .icons > div a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

footer hr{
    border-color: black;
}
/* footer style end */



/* media screens */
@media (min-width:768px){
    .container{
        width: 90%;
    }
    main .container .left{
        padding: 0 ;
        
    }
    main .left h1{
        font-size: 50px;
        
    }

    main .container{
        grid-template-columns: repeat(2,50%);
        gap: 30px;
        
    }
    main .right{
        order: 1;
        display: block;
    }
    main .right img{
        max-width: 100%;
        max-height: 100%;
        
    }

    .title h1{
        font-size: 24px !important;
    }

    footer .container{
        flex-direction: row;
    gap: 0px;

    }
    .num {
        font-size: 14px !important;
    }
}
@media (min-width:992px) {
    .container{
        width: 80%;
    }
    header nav{
        position: static;
        background-color: transparent;
        width: fit-content;
        height: auto;
        padding: 0;

    }
    header nav ul li{
        display: inline-block;
        margin: 0 0 0 10px;
    }
    header nav ul li a{
        color: black;
        font-weight: normal;
        font-size: 18 px;
    }
    header nav ul li:hover{
        transition: .5s;
        background-color: transparent;
        
    }
    header nav ul li:hover a,nav a.active{
        transition: .5s;
        color: var(--second-color);
    }

    nav a.active{
        border-bottom:3px solid var(--second-color);
    }
    label.burger{
        display: none;
    }

    main .container .left{
        padding: 0 ;
        
    }

}


.my-footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: var(--main-color);
    border-radius: 15px 0;
  }
  .my-footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .my-footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: var(--second-color);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .my-footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .my-footer .col ul li {
    color: white;
    font-size: 14px;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .my-footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }



